.game-screen__container {
	height: 100%;
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.game-screen__header {
	font-size: 1rem;
	font-family: Roboto;
	margin: 1.6rem;
  text-decoration: none;
  
}

#gameFrame {
  border: none;
  background-color: black;
}